<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %> " />

    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">

    <title>To-Do Manager</title>
    
    <script>
        var token = document 
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        function updateTodo(id ){
            fetch(`/todos/${id}`,{
                method:"put",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token,
                    // "completed": fort
                })
            })

            .then((res) =>{
                // if(res.ok){

                    window.location.reload();
                // }
            })
            .catch((err) => console.error(err));
        }

        function deleteTodo(id){
            fetch(`/todos/${id}` ,{
                method: "delete",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                })
            })
            .then((res) => {
                if(res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }

    </script>

</head>
<body>

    <div class="grid grid-cols-6 gap-4">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>

                <!-- <h1>
                    this is sample to compair

                </h1>
                <h2>
                    this is sample to compair

                </h2>
                <h3>
                    this is sample to compair

                </h3> -->
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="What's next?"
                                class="border border—gray-300 rounded text—gray—900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-auto">
                            <input class="border border—gray-300 rounded text—gray—900 w-full p-2 text-sm leading-4 " 
                                type="date" name="dueDate" required/>
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-500 text-white px-5 py-1.5 mr-2 mb-2 rounded">Add</button>
                        </div>
                    </div>
                </form>

                <!-- Form ended here -->


                <!-- Todos starting -->
                    <div>
                        <%- include('todo.ejs', {title: "Due Today" , data: dueToday}) %>
                        <%- include('todo.ejs' , {title: "Overdue" , data: overdue}) %>
                        <%- include('todo.ejs' , {title: "Due Later" , data: dueLater}) %>
                        <%- include('todo.ejs' , {title: "Completed" , data: completedtodos}) %>

                    </div>


        </div>
    </div>

    <!-- This is the table queries that we dont want in level 8 -->


    <!-- <table> -->
    <%#for(var i=0 ; i < allTodos.length ;i++){%>
        <!-- <tr> -->
        <!-- <td> -->
        <!-- <%#=allTodos[i].title %> -->
        <!-- </td> -->
        <!-- </tr> -->
        <!-- <%#} %> -->

        <!-- </table> -->

</body>

<!-- Body ending here  -->


<!-- Footer started here saying Built with Node.js -->

<footer class="flex py-4 justify-center">
    <%- include("caption.ejs"); %>
</footer>

</html>